<div class="todo-list">
  <div class="form-task">
    <input type="text" class="inpt-task" #task placeholder="Digite aqui sua tarefa" />
    <div class="buttons">
      <button class="btn btn-ok btn-lg" (click)="adicionarTarefa(task.value)">Adicionar Tarefa</button>
    </div>
  </div>
  <div class="task-div" *ngIf="listaTarefas.length > 0">
    <ul class="task-list">
      <li *ngFor="let task of listaTarefas; let taskId = index">
        <app-card-item [tarefa]="task" [tarefaIndex]="taskId" (actions)="removerTarefa($event)"></app-card-item>
      </li>
    </ul>
  </div>
</div>
